@import url('variables.less');
@import url('mixins.less');

/*************** MENU SYSTEM ***************/

ul.menu.entity {
  padding: 0 0 15px 0;
  font-size: .9em;
}

ul.menu.entity > li{
  display: inline-block;
  margin-right: 20px;
}




/*************** AGGREGATES ***************/

div.aggregate {
  max-width: 800px;
  margin: 20px auto 30px;
  border-bottom: 1px solid @color-5;
}

/*records which appear inline, as opposed to rowed*/
.inline-record {
  display: inline-block;
  border-top: none;
  margin: 10px 20px 0 15px;
  padding: 0;
}

/*records separated into rows*/
.rowed-record {
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;
  border-top: 1px solid @color-5;
}

/*records are rowed by default*/
div.record {
  .rowed-record
}

div.record > span.field {
  margin-right: 20px;
  .nowrap; 
}

div.record > div.button.destroy {
  position: absolute;
  top: 5px;
  right: 0;
}

.record > .field-label{
  color: @color-4;
  font-weight: 600;
  width: 100px;
  margin-right: 15px;
}

.record > .field-label:before {
  content: "";
  display: block;
}

.record input[type="text"] {
  margin-left: 0;
}

.record .form.edit {
  margin: 15px 0;
}

.record .button.edit, .record .button.save {
  .button-slim;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.record .button.edit:hover, .record .button.save:hover {
  background-color: @color-3; 
}

/*************** PERMISSION ***************/
.permission-edit.aggregate.roles {
  border-bottom: none;
}

.permission-edit.aggregate.roles  > .record.role{
  .inline-record
}

