@import url('variables.less');

form {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding-bottom: 100px;
}

form.wide {
  max-width: 800px;
}

label {
  font-weight: 600;
  font-size: 1.1em;
}

input[type=text], input[type=password], input[type=email], textarea {
  font-family: @font-main;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid @color-5;
  box-sizing:border-box;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 25px auto 30px;
  padding: 10px 0;
  text-indent: 10px;
  font-size: 18px;
}

form.wide input[type=text], form.wide input[type=password],
form.wide input[type=email], form.wide textarea {
  margin-left: 0;
}

form.wide textarea {
  max-width: none;
}

textarea {
  padding: 10px;
  text-indent: 0;
}

legend {
  color: @color-1;
  background-color: @color-3;
  font-weight: 600;
  border-right: solid 2px;
  border-bottom: solid 3px;
  border-color: @color-2;
  border-radius: 5px;
  text-shadow: 1px 2px 0 @color-2;
  padding: 5px 15px;
  position: absolute;
  top: -10px;
  left: -10px;
}

fieldset {
  padding: 50px 0 10px;
  margin: 15px 10px;
  border: none;
  border-bottom: 1px solid @color-5;
  position: relative;
}

input[type=checkbox] {
  margin: 10px;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid @color-5;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none; 
  -moz-transition: color .5s, background-color .5s;
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: @color-4;
  color: @color-1;
  text-align: center;
}

input[type=checkbox]:checked:before {
  content: "\2713";
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

input[type=submit] {
  -moz-transition: color .5s, background-color .5s;
  -webkit-transition: color .5s, background-color .5s;
  transition: color .5s, background-color .5s;
  margin: 10px 0 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  background-color: @color-2;
  color: @color-1;
  border-radius: 2px;
  width: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

textarea {
  min-height: 200px;
  display: block;
  resize: none;
}

input[type=submit].left {
  position: static;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: @color-3; 
}

.form-prompt {
  font-size: .8em;
  color: @color-4;
}

