@import url('variables.less');

/*************** GLOBALS ***************/

html {
  position: relative;
  min-height: 100%;
  overflow: auto;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  font-family: @font-main;
  font-size: 20px;
  color: @color-2;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  overflow: auto;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

a, a:link, a:active, a:visited {
  -moz-transition: color .3s, background-color .3s;
  -webkit-transition: color .3s, background-color .3s;
  transition: color .3s, background-color .3s;
  text-decoration: none;
  color: @color-4;
}

a:hover {
  color: @color-3;
}

/*************** REGIONS ***************/
#header {
  overflow: auto;
}

#header, #footer {
  width: 100%;
}

#footer {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: @color-1;
  border-top: 1px solid #BBBBCC;
  height: 200px;
}

#main-view {
  max-width: 800px;
  margin: 150px auto 300px;
  padding: 0 10px;
}

ul.menu {
  margin: 0 15px 0 0;
  padding: 10px;
  list-style: none;
}

#header > ul.menu {
  float: right;
  white-space: nowrap;
}

#header > ul.menu > li {
  display: inline-block;
  margin-right: 15px;
}

#header > ul.menu, #footer > ul.menu {
  display: inline-block;
}

#footer > ul.menu {
  width: 20%;
  max-width: 150px;
  vertical-align: top;
  text-align: left;
  font-size: .9em;
}

#header .logo {
  width: 50px;
  height: 50px;
  margin: 5px;
}
