@import url('variables.less');

/*************** UTILS ***************/
.nowrap {
  white-space: nowrap;
}

.clearfix {
  clear: both;
}

/*************** UI ***************/

.button-slim {
  border-radius: 2px;
  background-color: @color-2;
  color: @color-1;
  padding: 5px 10px;
  margin: 10px 0 15px;
  display: inline-block;
}

.button-thick {
  border-radius: 2px;
  background-color: @color-2;
  color: @color-1;
  padding: 10px 10px;
  margin: 10px 0 15px;
  display: inline-block;
}


