@import url('variables.less');
@import url('mixins.less');

div.button:hover {
  cursor:pointer; 
  color: @color-3; 
}

.button, .button-thick, .button-slim {
  -moz-transition: .3s color, .3s background-color;
  -webkit-transition: .3s color, .3s background-color;
  transition: .3s color, .3s background-color;
}

div.modal-dialogue {
  width: 270px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -150px; 
  background-color: @color-5;
  padding: 15px;  
  -moz-transition: top 1s;
  -webkit-transition: top 1s;
  transition: top 1s;
  text-align: center;
}

div.modal-dialogue.loaded {
  top: 25%;
}


div.modal-dialogue.error p {
  color: @color-3;
}

div.modal-dialogue > .button {
  .button-slim
}

div.modal-dialogue > .button:hover {
  background-color: @color-3;
}

div.modal-dialogue > div.button {
  display: inline-block;
  margin-right: 20px;
}
